apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: {{ metadata.name }}
  namespace: {{ metadata.namespace }}
spec:
  schedule: {{ spec.schedule }}
status:
{%- if status.phase %}
  phase: {{ status.phase }}
{%- endif %}
---
